body{
  font-family: 'Permanent Marker', cursive;
  background-image: url(bg.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.my-pc{
  font-size:50px;
  text-align: center;
  color: white;
}

.huh h2{
  font-size: 35px;
  color: pink;
  text-align: center;
  transition: 0.3s ;
}

.huh h2:hover{
font-size: 50px;
}